{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please sign in</h3>
                </div>

                <div class="panel-body">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trim('.')|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                        {#<form accept-charset="UTF-8" role="form">#}
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Gebruikersnaam" name="_username" value="{{ last_username }}" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Wachtwoord" name="_password" type="password" value="">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                                </label>
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


        {#<div class="row">#}
        {#<div class="large-12 columns">#}
        {#<label for="username">Gebruikersnaam</label>#}
        {#<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />#}
        {#</div>#}
        {#</div>#}

        {#<div class="row">#}
        {#<div class="large-12 columns">#}
        {#<label for="password">Wachtwoord</label>#}
        {#<input type="password" id="password" name="_password" required="required" />#}
        {#</div>#}
        {#</div>#}

        {#<div class="row">#}
        {#<div class="large-12 columns">#}
        {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
        {#<label for="remember_me">Onthoud mij</label>#}
        {#</div>#}
        {#</div>#}

        {#<div class="row">#}
        {#<div class="large-12 columns">#}
        {#<input type="submit" id="_submit" name="_submit" value="Login" />#}
        {#</div>#}
        {#</div>#}
        {#</form>#}
